# Xcode
build/
DerivedData/
*.hmap
*.ipa
*.playground.xcworkspace
xcuserdata/
*.xcuserstate
project.xcworkspace/
*.xccheckout
*.xcscheme
*.xcscmblueprint
*.priors

# Bundle y Archivos de sistema
.DS_Store
*.swp
*.lock
*.temp
*.tmp

# Swift Package Manager
.build/
.swiftpm

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Local configuration
.env
.env.local
.env.*.local

# Logs
*.log

# IDEs
.idea/
.vscode/

# Other
node_modules/
